In [1]:
txt = 'The best things in life are free'

In [2]:
print('free' in txt)

True

In [3]:
print('is' in txt)

False

In [4]:
print('free' not in txt)

False

In [5]:
print('is' not in txt)

True

In [6]:
name = 'my name is jon and i am '
age = 30

In [7]:
c = name + age

TypeError: must be str, not int

In [8]:
c = name + '30'

In [9]:
a = '30'

In [10]:
print(type(a))

<class 'str'>

In [11]:
c = 'my name is jon and i am {}'
print(c.format(age))

my name is jon and i am 30

In [12]:
q = 3
p = 45.5
o = 'I want to order {1} for rs {2}'

In [13]:
print(o.format(q,p))

IndexError: tuple index out of range

In [14]:
print(o.format(1,q,p))

I want to order 3 for rs 45.5

In [15]:
o = 'I want to order {0} for rs {0}'
print(o.format(q,p))

I want to order 3 for rs 3